<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MediaStyleTableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DEF422F31DEC4E0500955F61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEF423071DEC4E0500955F61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEF423121DEC4E0500955F61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
